.CardsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 20px;
    margin: 20px 0;
}
@media only screen and (max-width: 980px) {
    .CardsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 600px) {
    .CardsWrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}
