.CardsWrapper {
    grid-column: 1 / 5;
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
    grid-gap: 40px;
    /* height: fit-content; */
}
/* @media only screen and (max-width: 980px) {
    .CardsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 600px) {
    .CardsWrapper {
        grid-template-columns: repeat(1, 1fr);
    }
} */
