.Navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.NavLogo {
    font-size: 3rem;
    color: #555;
    font-weight: 700;
}
