*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg1: #242526;
    --bg2: #18191a;
    --bg3: #3a3b3c;
    --fc1: rgb(240, 240, 240);
    --fc2: rgb(220, 220, 220);
    --SideBar: 260px;
    --br: 10px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
